<!-- Business Contact update page content -->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1><%= title %></h1>

                <form class="form addForm" method="post">

                    <div class="form-group">
                        <label for="contactNameTextField">Contact Name</label>
                        <input type="text" class="form-control" id="contactNameTextField"
                            placeholder="Enter your contact name" name="contact_name"
                            value="<%= contact.contact_name %>" required>
                    </div>

                    <div class="form-group">
                        <label for="numberTextField">Number</label>
                        <input type="text" class="form-control" id="numberTextField"
                            placeholder="Enter your contact number" name="number" value="<%= contact.number %>"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="emailTextField">Email</label>
                        <input type="text" class="form-control" id="emailTextField"
                            placeholder="Enter your contact email" name="email" value="<%= contact.email %>" required>
                    </div>

                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i>
                        UPDATE
                    </button>

                    <a href="/business-contacts" class="btn btn-warning">
                        <i class="fas fa-undo"></i>
                        CANCEL
                    </a>

                </form>
            </div>
        </div>
    </div>
</div>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>